APP_NAME=BuildTrack API
APP_ENV=development
APP_DEBUG=true
API_V1_PREFIX=/api/v1

MONGODB_URL=mongodb://localhost:27017
MONGODB_DB_NAME=buildtrack

JWT_SECRET_KEY=change-this-secret-before-production
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

BACKEND_CORS_ORIGINS=http://localhost:4200,http://127.0.0.1:4200
